{% extends 'base.html' %}
{% block body %}
    <h1>{{que.question}}    detail:</h1>
    <ul>
        
        <li>{{que.author}}</li>
        <li>{{que.question}}</li>
        <li>{{que.tags}}</li>
        <li>{{que.created_at}}</li>
        <li>{{que.content}}</li>
        
    </ul>
    <a href="{% url 'chat:answer_edit' que.id %}"><button>edit question</button></a>
    <ul>
        {% for answer in ans %}
        <li>{{answer.author}}</li>
        <li>{{answer.answer}}</li>
        <li>{{answer.question}}</li>
        <li>{{answer.created_at}}</li>
        <a href="{% url 'chat:answer_delete' answer.id %}"><button>delete answer</button></a>
        <a href="{% url 'chat:answer_edit' answer.id %}">edit answer</a>
        <hr>
        {% endfor %}
    </ul>

    <a href="{% url 'chat:qusetion_delete' que.id %}"><button type="submit">delete</button></a>
    <form method="post">
        {% csrf_token %}
        {{form}}
    

        <button type="submit">add</button>
    </form>
    

        
  
{% endblock body %}