{% extends 'base.html' %}
{% block body %}
    <h1>{{que.question}}    detail:</h1>
    <ul>
        
        <li>{{que.author}}</li>
        <li>{{que.question}}</li>
        <li>{{que.tags}}</li>
        <li>{{que.created_at}}</li>
        <li>{{que.content}}</li>
        
    </ul>

    <ul>
        {% for answer in ans %}
        <li>{{answer.author}}</li>
        <li>{{answer.answer}}</li>
        <li>{{answer.question}}</li>
        <li>{{answer.created_at}}</li>
        <hr>
        {% endfor %}
    </ul>

    <a href="{% url 'chat:qusetion_delete' que.id %}"><button type="submit">delete</button></a>
{% endblock body %}